
.letraRechazado{
	color:#ef473a;
}

.background, .background .pane, .background .item-complex .item-content {
    background-color: #F0F0F0;
}

.logo{
	margin-top: 10%;
}

.portadaClinica{
	background: url('../img/portada-clinica.jpg');
	background-size: cover; 
	background-repeat: no-repeat;
}

.portadaParticular{
	background: url('../img/particular.jpg');
	background-size: cover; 
	background-repeat: no-repeat;
}