<ion-view title="<b>Contacto</b>" id="page13" class=" ">
    <ion-content padding="true" class="has-header">

    <center style ="font-size:120%; margin-bottom:10px; ">Numero de Emergencias</center>
    <center><a style="color:red; font-size:250%;" href="tel:42034645">+54 011 42034645</a></center>

    <center><img class="title-image logo hide-on-keyboard-open" src="img/dummy.jpg"/> </center>

    <div class="list">

    <a class="item item-icon-left">
      <i class="icon ion-android-mail"></i>
      info@cobertec.com.ar
    </a>

    <a class="item item-icon-left" href="tel:42034645">
      <i class="icon ion-ios-telephone"></i>
      42034645
    </a>

    </div>

    </ion-content>
</ion-view>
