<ion-view title="Busqueda por partido" hide-back-button="true" id="page7" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <ion-list id="busquedaPorPartido-list4" class=" manual-list-fullwidth ">
            <label class="item item-input" name="buscador">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar">
            </label>
            <ion-item id="busquedaPorPartido-list-item15" class="  ">Todos</ion-item>
            <ion-item id="busquedaPorPartido-list-item24" ui-sref="menu.clinicasYParticulares" class="  ">CABA</ion-item>
            <ion-item id="busquedaPorPartido-list-item23" class="  ">Almirante Brown</ion-item>
            <ion-item id="busquedaPorPartido-list-item22" class="  ">Avellaneda</ion-item>
            <ion-item id="busquedaPorPartido-list-item21" class="  ">Berazategui</ion-item>
            <ion-item id="busquedaPorPartido-list-item20" class="  ">Berisso</ion-item>
            <ion-item id="busquedaPorPartido-list-item19" class="  ">Brandsen</ion-item>
            <ion-item id="busquedaPorPartido-list-item18" class="  ">Campana</ion-item>
            <ion-item id="busquedaPorPartido-list-item17" class="  ">Cañuelas</ion-item>
            <ion-item id="busquedaPorPartido-list-item25" class="  ">Cañuelas</ion-item>
            <ion-item id="busquedaPorPartido-list-item16" class="  ">Ensenada</ion-item>
            <ion-item id="busquedaPorPartido-list-item26" class="  ">Escobar</ion-item>
            <ion-item id="busquedaPorPartido-list-item27" class="  ">Esteban Echeverría</ion-item>
        </ion-list>
    </ion-content>
</ion-view>