<ion-view title="<b>Clinicas y Particulares</b>" id="page9" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <ion-list id="clinicasYParticulares-list5" class=" manual-list-fullwidth ">
            <label class="item item-input" name="buscador">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar">
            </label>
            <ion-item class="item-avatar item-icon-right  " id="clinicasYParticulares-list-item28" ui-sref="menu.solicitarTurno">
            <img src="img/Clinica.jpg">
                <h2>Clinica del Sol</h2>
                <p>Av La Plata 255</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>