<ion-view title="Turnos Confirmados" hide-back-button="true" id="t_confirmados" class="background">
    <ion-content padding="true" class="has-header">

        <ion-list id="turnosPendientes-list3" class=" manual-list-fullwidth " ng-repeat="solicitud in solicitudes | filter:'Confirmado'">

            <ion-item class="item-avatar item-icon-right royal  " id="turnosPendientes-list-item11">
                <h2 class="balanced">{{solicitud.MEDICO}}
                    <p>Una Clinica</p>
                    <p>Una direccion</p>
                    <p>Un Dia y Horario</p>
                    <i class="icon ion-checkmark"></i>
                </h2>
            </ion-item>

        </ion-list>
    
    </ion-content>
</ion-view>